<html>
  <head>
    <title>Reset password</title>
    <style>
      button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      button:hover {
        background-color: #0056b3;
        color: white;
      }
    </style>
  </head>
  <body>
    <div>
      <img
        src="https://res.cloudinary.com/ujuzi/image/upload/v1698149115/shift-planner_peh1ev.svg"
        alt="Your Logo"
      />
      <h1>Reset password</h1>
      <p>Hello {{username}},</p>
      <p>
        You have requested to reset your password. Please click the button below
        to reset your password:
      </p>
      <a href="{{verificationLink}}">
        <button>Reset password</button>
      </a>
      <p>
        If you didn't request to reset your password, please ignore this email.
      </p>
    </div>
  </body>
</html>
